body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

.btn-custom {
    background-color: #007bff;
    color: white;
}

    .btn-custom:hover {
        background-color: #0056b3;
    }

.navbar-custom {
    background-color: #343a40;
}

    .navbar-custom .navbar-brand,
    .navbar-custom .nav-link {
        color: white;
    }
